/*===== Timer =====*/

.timer-wrapper {
  padding-top: 20px;
}

#datetime-picker {
  width: 272px;
  height: 34px;
  margin-bottom: 32px;
  margin-left: 8px;
  padding-left: 16px;
}

.btn {
  width: 75px;
  height: 40px;
  cursor: pointer;
}

.timer {
  display: flex;
  justify-content: space-between;
  width: 346px;
}

.field {
  width: 60px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2e2f42;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  line-height: 1.5;
}

/*===== Snackbar =====*/

.form {
  width: 360px;
}

.delay {
  width: 98%;
  height: 34px;
  margin-bottom: 16px;
}

fieldset {
  display: flex;
  gap: 48px;
  justify-content: center;
  margin-bottom: 20px;
}

.form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  border: none;

  cursor: pointer;
}
